/*------------------------------------------- 
Typography
--------------------------------------------- */
body {
	font-family: Montserrat, Arial,"Helvetica Neue",Helvetica,sans-serif;
    text-align: center;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	background-color: #FFF;
	color: #000;
	margin: 0 auto;
}

h1{
    font-family: 'EB Garamond', 'Times New Roman', serif;
    margin:0;
    padding:0;
}

h2, h3, h4, h5, h6{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
h2{
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}


/*------------------------------------------- 
Elements
--------------------------------------------- */
ul,
ol {
    padding:0;
    margin:0;
}

figure{
    margin:0;
    padding:0;
}

/*------------------------------------------- 
Links
--------------------------------------------- */
a{
	text-decoration: none;
    color: #003800;
}

a:visited{
	color: #053505;
}

a:hover{
	color: #338033;;
}

a:active{
	color: #191970;
}

a:focus{
    outline: 1px dotted #000;
}

a.underline{
    text-decoration: underline;
}

/*------------------------------------------- 
Header
--------------------------------------------- */
header{ 
    font-size:2rem;
}

header img{
    max-width: 10rem;
}

@media screen and (min-width: 68em) {
    header{
        background-color: #ebebeb;
        margin: 0 auto;
        font-size: 1.8rem;
    }
    
    header nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;
        padding: 1rem 0;
    }
    
    header img{
        display: block;
        min-width: 10rem;
    }
    
    nav li{
        display: inline-block;
        padding: 0.8rem;
    }
    
    header nav li{
        border-right: dotted .2rem #000;
        padding-right: 1.6rem;
    }
    
    header li a{
        padding: 1rem;
    }
    h1{
        margin: 0 0 0 12.15rem;
        font-size: 5vw;
        text-align: left;
    }

}



/*------------------------------------------- 
Main
--------------------------------------------- */


/*HOME page*/

.home-section{
    position: relative;
}

.bg-video{
    object-position: left bottom;
}

@media screen and (max-width: 68em) {
   .home-section h1, .grid-map img{
        display:none;
    }
}

@media screen and (min-width: 50em) {
    .home-container{
        overflow:hidden;
    }
    .home-section{
        overflow: hidden;
    }
    .bg-video{
        display: block;
        object-fit: cover;
        height:100vh;
	    width: 100%;
    }
    .home-section h1 {
        position: absolute;
        color:#fff;
        bottom:16rem;
        left:0;
        right:0;
    }
}

/*NATURE page*/

@media screen and (min-width: 50em) {
    .nature-section {
		display: grid;
        gap: 1rem 1rem;
		grid-template-columns: repeat(3, 18.75rem);
		justify-content: center;
        margin: 3rem auto;
	}

	.nature-section img {
		display: block;
		width: 100%;
		height: 20rem;
		object-fit: cover;
	}

	.quote-box {
		background-color: #444444;
		color: #ffffff;
		padding: 1rem 2rem;
		grid-row: span 1;
		grid-column: span 1;
		order:-1;
	}
}

/*ACTIVITIES page*/

form {
    background: #f4f7f8;
    border-radius: 0.75rem;
    max-width: 35rem;
    margin: 1.8rem auto;
    padding: .6rem 1.25rem;
}

input, textarea, select {
    border: 3px solid #e8eeef;
    background-color: #e8eeef;
    color: #000000;
    font-size: 1rem;
    height: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    outline: 0;
}

input:focus,
textarea:focus,
select:focus {
    border: dotted 3px #008000;
}

fieldset {
    border: none;
}

fieldset:nth-of-type(2) {
    margin-bottom: 1rem;
}

legend {
    font-size: 1.2em;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
}

.number {
    background-color: #008000;
    color: #fff;
    height: 1.9rem;
    width: 1.9rem;
    display: inline-block;
    font-size: 0.8rem;
    margin-right: 4px;
    line-height: 2rem;
    text-align: center;
    border-radius: 100%;
}

input[type="submit"] {
    padding: 1rem 2rem;
    color: #FFF;
    background-color: #008000;
    font-size: 1.25rem;
    text-align: center;
    border-radius: 0.85rem;
    width: 70%;
    cursor: pointer;
}

@media screen and (min-width: 50em) {
    .grid-map {
		display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap:1rem;
	}

	.grid-map div {
		min-width: 6rem;
		min-height: 8rem;
		background-color: #f4f7f8;
	}

    .whale img{
		object-fit: cover;
        height: 100%;
	}
    
}

/*CREDITS page*/

table, 
th, 
td {
	border: 1px dashed #000;
	text-align: left;
    margin: 3rem auto;
    padding: 1rem;
}

td a{
    color: blue;
}

@media screen and (min-width: 50em) {

}


/*------------------------------------------- 
Footer
--------------------------------------------- */

@media (min-width: 50em) {
    footer{
        position: relative;
        display:block;
        background-color: #ebebeb;
        padding: 1rem 0;
    }
    
    footer a{
        color: mediumblue;
    }
}


